{% extends "scaffold.html" %}

{% block metadescription %}{{ SITE_NAME }} helps generate 92F requests for public records in Hawaii under the Uniform Information Practices Act (UIPA). Track your record requests and receive reminders for unanswered requests. Embargo your requests for up to a year while you review the records received. Research what has been requested from agencies in the past and how that agency has responded. Contribute to a platform for increasing information access and engaging citizens in government.{% endblock %}

