pip==8.1.1
django==3.2.8
Markdown~=2.6.6
celery==3.1.23
celery-haystack
django-haystack
django-celery-email
django-taggit==0.18.1
pytz==2016.6.1
requests==2.11.1
django-floppyforms==1.6.2
#-e git://github.com/stephenmcd/django-overextends.git@master#egg=django-overextends
python-magic==0.4.6
django-tastypie==0.13.3
python-mimeparse>=0.1.4
django-configurations==2.0
django-storages==1.5.0
dj-database-url==0.4.1
django-cache-url==1.2.0
django-compressor==2.1
django-contrib-comments
unicodecsv==0.14.1
honcho==0.6.6
django-tinymce==2.3.0
anyjson==0.3.3
pysolr==3.5.0
python-docx==0.8.5
elasticsearch==2.3.0

-e git://github.com/codeforhawaii/froide.git@v2#egg=froide

# -e git://github.com/stefanw/django-compressor.git@patch-1#egg=compressor
psycopg2~=2.8.6
lxml==3.4.4
raven==5.32.0
# boto3==1.4.1 - Can't use this until we create our own storage and not use froide custom storage
boto==2.43.0
