{% extends 'base.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% load markup %}
{% load searchtags %}
{% load floppyforms %}
{% load compress %}
{% load uipa_extras %}

{% block nav_makerequest %}active{% endblock %}

{% block extra_footer %}
  <script type="text/javascript">
    var Froide = Froide || {};
    Froide.url = Froide.url || {};
    Froide.url.searchRequests = "{% url 'api_get_simple_search' api_name='v1' resource_name='request' %}"
    Froide.template = Froide.template || {};
    Froide.template.visitPublicBodyWebsite = '{% blocktrans %}Visit the website of this public agency{% endblocktrans %}';
    Froide.regex = Froide.regex || {};
    Froide.regex.greetings = [{% blocktrans %}/Dear Sir or Madam/{% endblocktrans %}gi];
    Froide.regex.closings = [{% blocktrans %}/ /{% endblocktrans %}gi];
    Froide.template.searchInternet = '<li class="search-internet"><a href="{% templatetag openvariable %}url{% templatetag closevariable %}" class="target-new">{% trans "Search the internet for information about:" %} {% templatetag openvariable %}query{% templatetag closevariable %}</a></li>';
    Froide.template.searchPublicBodyWebsite = '<li class="search-public-body-website"><a href="{% templatetag openvariable %}url{% templatetag closevariable %}" class="target-new">{% trans "Search public agency website" %}</a></li>';
    Froide.template.searchEngineUrl = '{% search_engine_query %}';
    Froide.template.foundEmail = "{% trans "We found an email address in your text: {{ email }}. Do not sent personal data to the public agency." %}";
    Froide.template.foundGreeting = "{% trans "We found {{ find }} in your text, but there is already a greeting at the top of the letter!" %}";
    Froide.template.foundClosing = "{% trans "We found {{ find }} in your text, but there is already a closing at the bottom of the letter!" %}";
    Froide.template.emptyBody = "{% blocktrans %}Don't leave the body of your message empty{% endblocktrans %}";
    Froide.template.emptySubject = "{% blocktrans %}Don't leave the subject of your message empty{% endblocktrans %}";
  </script>
  {# {% compress js %}#}
    <script src="{{ STATIC_URL }}js/foirequest.js" type="text/javascript"></script>
  {# {% endcompress %}#}
{% endblock %}

{% block foisite_advice %}
  {% include "foisite/banner.html" %}
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
    <h2>
      {% blocktrans %}Write a request{% endblocktrans %}
    </h2>
    {% if public_body %}
      <form method="post" action="{% url 'foirequest-submit_request' public_body=public_body.slug %}" class="foirequest" novalidate>
    {% else %}
      <form method="post" action="{% url 'foirequest-submit_request' %}" class="foirequest" novalidate>
    {% endif %}
    {% csrf_token %}
      <fieldset id="public-body" class="active">
        <legend>
          {% blocktrans %}Choose a Public Agency{% endblocktrans %}
        </legend>
    {{ request_form.reference }}
    {{ request_form.redirect_url}}
    {% if public_body %}
      <input type="hidden" name="public_body" value="{{ public_body.pk }}"/>
      <input type="hidden" id="id_law" name="law" value="{{ public_body.default_law.pk }}"/>
      <p>
        <strong>{% trans "To:" %}</strong>
        <span id="review-publicbody">{{ public_body.name }}</span>
        ({{ public_body.jurisdiction.name }}) -
        <a href="{{ public_body.get_absolute_url }}" class="info-link target-new">
          <span class="glyphicon glyphicon-info-sign"></span>
        </a>
      </p>
      {% if public_body.request_note or public_body.default_law.request_note %}
        <div id="request-note" class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title">
              {% trans "Notes for this public agency" %}
            </h3>
          </div>
          <div class="panel-body">
            {% if public_body.default_law.request_note %}
              {{ public_body.default_law.request_note|markdown }}
            {% endif %}
            {% if public_body.request_note %}
              {{ public_body.request_note|markdown }}
            {% endif %}
          </div>
        </div>
      {% endif %}
    {% else %}
        <div id="step-public_body">
          <label for="id_public_body">Search for a public agency:</label>
          {{ request_form.public_body }}
          <div id="request-note" class="notice" style="display:none"></div>
          {% if froide.publicbody_empty %}
            <div class="search-result">
              <label>
                <input type="radio" id="option-emptypublicbody" name="public_body" value="" {% if request_form.public_body.value == "" %}checked="checked"{% endif %}/>{% blocktrans %}Don't select a public agency for now. Let others help to find the right Public Agency later.{% endblocktrans %}
              </label>
            </div>
          {% endif %}
          {% if froide.create_new_publicbody %}
            <div class="search-result">
              <label>
                <input id="option-newpublicbody" type="radio" name="public_body" value="new" {% if request_form.public_body.value == "new" %}checked="checked"{% endif %}/>
                {% blocktrans %}Create a new public agency on the fly.{% endblocktrans %}
              </label>
            </div>
            <div id="new-public_body" style="display:none">
              {{ public_body_form.as_p }}
            </div>
          {% endif %}
          <span class="help">
            {% blocktrans %}Please select one of the above options to proceed.{% endblocktrans %}
          </span>
        </div>
      </fieldset>
    {% endif %}
    {% if not request_form.is_bound and not request_form.initial.subject %}
      <fieldset id="check-foi">
      <legend>
        {% blocktrans %}Choose the type of request{% endblocktrans %}
      </legend>
      <div class="js-hidden" id="step-checkfoi">
        <h3>
          {% blocktrans %}What kind of information do you want?{% endblocktrans %}
        </h3>
        <div id="foicheck-form" class="well">
          <div class="radio">
            <label>
              <input id="option-check_foi_personal" type="radio" name="check_foi" value="false"/>
              {% blocktrans %}a matter that involves you personally (personal records request){% endblocktrans %}
              <span class="help-block">
                {% blocktrans %}Questions like "Where do I get my X?"{% endblocktrans %}
              </span>
            </label>
          </div>
          <!-- TODO: Commenting out for now.
          <div class="radio">
            <label>
              <input id="option-check_foi_opinion" type="radio" name="check_foi" value="false"/>
              {% blocktrans %}a question about a political opinion{% endblocktrans %}
              <span class="help-block">
                {% blocktrans %}Questions like "Why don't you do X?" or "How can it be that X?"{% endblocktrans %}
              </span>
            </label>
          </div>
          -->
          <div class="radio">
            <label>
              <input id="option-check_foi" type="radio" name="check_foi" value="true"/>
              {% blocktrans %}a matter of general interest (public records){% endblocktrans %}
              <span class="help-block">
                {% blocktrans %}Questions like "What financial records show how much X costs" or "Please give me emails about X?"{% endblocktrans %}
              </span>
            </label>
          </div>
          <div class="text-center">
            <button class="btn btn-primary" id="continue-foicheck">
              <span class="glyphicon glyphicon-arrow-right"></span>
              {% trans "Continue" %}
            </button>
          </div>
          <span id="select-one-information-kind" style="display:none">{% trans "Please select one of the above options!" %}</span>
        </div>
        <div id="nofoi-personal" style="display:none">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">
                {% blocktrans %}A request about a matter involving you personally{% endblocktrans %}
              </h3>
            </div>
            <div class="panel-body">
              <p>
                {% blocktrans %}
                  This site is not appropriate for requesting personal records.
                  The information requested ultimately will be posted for public
                  review. Also, different standards and deadlines apply for
                  personal records requests.
                {% endblocktrans %}
              </p>
              <p>
                {% blocktrans %}
                  You should contact the public agency directly with your inquiry
                  using its
                {% endblocktrans %}
                {% if public_body.url %}<a id="publicbody-link" href="{{ public_body.url }}">{% endif %}
                {% blocktrans %}website{% endblocktrans %}.
                {% if public_body.url %}</a>{% endif %}
              </p>
            </div>
          </div>
        </div>
        <div id="nofoi-opinion" style="display:none">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">
                {% blocktrans %}A request about an opinion{% endblocktrans %}
              </h3>
            </div>
            <div class="panel-body">
              <p>
                {% blocktrans %}In order to ask about a political state, you need to talk to people not public agencies. Please ask your Member of the Legislature or City/County Council  about the topic you are interested in:{% endblocktrans %}
              </p>
              <p>
                <a href="http://www.abgeordnetenwatch.de">
                  <strong>{% blocktrans %}Click here to go to abgeordnetenwatch.de{% endblocktrans %}</strong>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    {% endif %}
    <fieldset id="write-request">
      <legend>
        {% blocktrans %}Write the Request{% endblocktrans %}
      </legend>

      <div class="js-hidden" id="step-message">
        <p>Describe the government record as specifically as possible
        so that it can be located.  Try to provide a record name,
        subject matter, date, location, purpose, or names of persons to
        whom the record refers, or other information that could help
        the agency identify the record.  A complete and accurate
        description of the requested government record will prevent
        delays in locating the record. </p>
        <br/>
        <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-body">
                <div id="law-description"{% if not request_form.default_law.description %} style="display:none"{% endif %}>
                  <h4>
                    {% blocktrans %}Legal Explanation:{% endblocktrans %}
                  </h4>
                  <div id="law-description-text">{{ request_form.default_law.description|markdown }}</div>
                </div>
                <h4>
                  {% blocktrans %}Important Notes:{% endblocktrans %}
                </h4>
                <ul>
                  <li>
                    {% blocktrans %}Write your request in <strong>simple, precise language</strong>.{% endblocktrans %}
                  </li>
                  <li>
                    {% blocktrans %}Ask for <strong>specific</strong> documents or information.{% endblocktrans %}
                  </li>
                  <li>
                    {% blocktrans %}Keep it <strong>focused and concise</strong>.{% endblocktrans %}
                  </li>
                  <li>
                      This site is <strong>public</strong>.  Everything you type and any response will be <a href="{% url "help-faq" %}#7"><u>published</u></a>.
                  </li>
                  <li>
                    {% blocktrans %}Do <strong>not include</strong> personal information (yours or anyone else's) in your request.{% endblocktrans %}
                  </li>
                  <li>
                      Do <strong>not ask</strong> for <a href="{% url "help-faq" %}#11">personal information</a> (yours or anyone else's).
                  </li>
                  <li>
                      Avoid asking for <a href="{% url "help-faq" %}#12"><u>more than you need</u></a>.
                  </li>
                  <li>
                      If appropriate, include a request for <a href="{% url "help-faq" %}#26"><u>public interest waiver</u></a>.
                  </li>
                </ul>
              </div>
            </div>
            {% if request_form.non_field_errors %}
              <div class="alert alert-danger">
                {% for error in request_form.non_field_errors %}
                  <p>{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
            <div class="form-group{% if request_form.subject.errors %} has-error{% endif %}">
              {{ request_form.subject.errors }}
              <label for="id_subject" class="control-label">{% trans "Request Subject" %}:</label>
              {{ request_form.subject }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group{% if request_form.body.errors %} has-error{% endif %}">
              {{ request_form.body.errors }}
              <label for="id_body" class="control-label">
                {% blocktrans %}Your Request:{% endblocktrans %}
              </label>
            </div>

            <div class="full-text-checkbox pull-right">
              {% if not request_form.law.is_hidden %}
                <div id="law-select" class="requestform__law-select form-group{% if request_form.law.errors %} has-error{% endif %}" style="display:none">
              {% endif %}
                {{ request_form.law }}
              {% if not request_form.law.is_hidden %}
                </div>
              {% endif %}
            </div>

            <div class="well letter">
              <div id="letter_start" class="text"{% if request_form.full_text.value %} style="display:none"{% endif %}>{{ request_form.default_law.letter_start_form }}</div>

              <div{% if request_form.body.errors %} class="has-error"{% endif %}>{{ request_form.body|prefill }}</div>

              <div id="letter_complete_end">
                <div id="letter_short_end" class="text">
                  <span id="letter-greeting">{% blocktrans %}{% endblocktrans %}</span>
                </div>
                <div id="letter_end" class="text">{{ request_form.default_law.letter_end_form }}</div>
              </div>

              {% if user.is_authenticated %}
                <p id="fullname">{{ user.get_full_name }}</p>
              {% else %}
                <div class="user_data_form">
                  <div class="form-group{% if user_form.first_name.errors %} has-error{% endif %}">
                    {{ user_form.first_name.errors }}
                    <label class="control-label" for="id_first_name">
                      {% blocktrans %}Your first name{% endblocktrans %}
                    </label>
                    {{ user_form.first_name }}
                  </div>
                  <div class="form-group{% if user_form.last_name.errors %} has-error{% endif %}">
                    {{ user_form.last_name.errors }}
                    <label class="control-label" for="id_last_name">
                      {% blocktrans %}Your last name{% endblocktrans %}
                    </label>
                    {{ user_form.last_name }}
                    {% if user_form.last_name.help_text %}
                      <p class="help-block">
                        {{ user_form.last_name.help_text }}
                      </p>
                    {% endif %}
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="user_data_form">
                {{ user_form.user_email.errors }}
                <div class="form-group{% if user_form.user_email.errors %} has-error{% endif %}">
                  <label for="id_user_email" class="control-label">
                    {% blocktrans %}Your email address{% endblocktrans %}
                  </label>
                  {% if user.is_authenticated %}
                    <p id="email_address" class="form-control-static">{{ user.email }}</p>
                  {% else %}
                    {{ user_form.user_email }}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-lg-12">
              {% if user_form.private %}
                <div class="well">
                  <div class="checkbox">
                    <label>
                      {{ user_form.private }} {{ user_form.private.label }}
                    </label>
                    <p class="help-block">
                      {{ user_form.private.help_text }}
                    </p>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="well">
                <div class="checkbox">
                  <label>
                    {{ request_form.public }}
                    {{ request_form.public.label }}
                  </label>
                  <p class="help-block">
                    {{ request_form.public.help_text }}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="panel panel-default">
                <div class="panel-body">
                  <p>
                    {% blocktrans %}Do you want to make sure that the information you are requesting isn't already available?{% endblocktrans %}
                  </p>
                  <div class="row">
                    <div class="col-lg-6">
                      <h4>
                        {% blocktrans %}Similar Requests{% endblocktrans %}
                      </h4>
                      <div id="similar-requests-container">
                        <ul id="similar-requests">
                          <li>
                            {% blocktrans %}None found{% endblocktrans %}
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <h4>
                        {% blocktrans %}Related Websites{% endblocktrans %}
                      </h4>
                      <ul id="check-list">
                        {% if public_body_search %}
                          <li>
                            <a class="target-new" href="#">
                              {% blocktrans with topic=public_body_search %}Search this site for {{ topic }}{% endblocktrans %}
                            </a>
                          </li>
                        {% endif %}
                        {% if public_body %}
                          <li>
                            <a class="target-new" href="{{ public_body.get_absolute_url }}#">
                              {% blocktrans %}Explore other requests made to this public agency{% endblocktrans %}
                            </a>
                          </li>
                        {% endif %}
                        {% if public_body and public_body_search %}
                          <li>
                            <a class="target-new" href="{% search_engine_query public_body_search public_body.domain %}">
                              {% blocktrans %}Try a Web Search for your topic{% endblocktrans %}
                            </a>
                          </li>
                        {% endif %}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% if not user.is_authenticated %}
            <div class="row">
              <div class="col-lg-12">
                <div class="well">
                  {% if user_form.terms %}
                    {{ user_form.terms.errors }}
                    <div class="checkbox">
                      {{ user_form.terms }}
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endif %}
          <!--a href="#step-review" id="review-button" role="button" class="btn btn-primary btn-lg" data-toggle="modal"-->
          <button type="submit" id="send-request-button" class="btn btn-primary">
            <span class="glyphicon glyphicon-ok"></span>
            {% trans "Submit Request"%}
          </button>
          </a>
        </div>
      </fieldset>
      <!-- removed modal dialog -->

    </form>
  </div>
</div>
{% endblock %}

