{% overextends 'foirequest/show.html' %}
{% load i18n %}

{% block request_details%}
  <dt>{% blocktrans %}Request to:{% endblocktrans %}</dt>
  <dd>
    {% if object.public_body %}
      <a href="{{ object.public_body.get_absolute_url }}">{{ object.public_body.name }}</a>
    {% else %}
      {% blocktrans %}Not yet known{% endblocktrans %}
    {% endif %}
  </dd>
  {% if object.law %}
    {% if object.law.meta %}
      <dt>{% blocktrans %}Laws used:{% endblocktrans %}</dt>
      <dd>
        <ul>
          {% for law in object.law.combined.all %}
            <li>
              <a href="{% url 'publicbody-foilaw-show' slug=law.slug %}" class="target-new">{{ law.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </dd>
    {% else %}
      <dt>{% blocktrans %}Law used:{% endblocktrans %}</dt>
      <dd>
        <a href="{% url 'publicbody-foilaw-show' slug=object.law.slug %}" class="target-new">{{ object.law.name }}</a>
      </dd>
    {% endif %}
  {% else %}
    <dt>{% blocktrans %}Law used:{% endblocktrans %}</dt>
    <dd>{% blocktrans %}Not yet set{% endblocktrans %}</dd>
  {% endif %}
  <dt>{% blocktrans %}Status of this request:{% endblocktrans %}</dt>
  <dd>{{ object.readable_status }}</dd>
  {% if object.refusal_reason %}
    <dt>{% blocktrans %}Refusal Reason{% endblocktrans %}</dt>
    <dd>{{ object.refusal_reason }}</dd>
  {% endif %}
  {% if object.costs > 0 %}
    <dt>{% blocktrans %}Cost of information:{% endblocktrans %}</dt>
    <dd>{{ object.costs|floatformat:2 }} {{ froide.currency }}</dd>
  {% endif %}
{% endblock request_details%}
