div#main-folders.heroine-unit {
  background-image:url('../img/capitol.jpg');
  background-size:100%;
  background-repeat:no-repeat;
  background-position: left center;
  border: 1px solid #ccc;
  padding: 1.2em;
}

span.small-icon.status-has_fee {
  background-image:url('../img/dollar.png');
  background-size: 14px 14px;
}

.modal-header{
  background-color: #428bca;
  color:#fff;
}
.modal-content {
  overflow:hidden;
}

div#letter_start {
  margin-bottom:2em;
}
