{% overextends "base.html" %}

{% load i18n %}
{% load static from staticfiles %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/uipa-style.css" %}"/>
{% endblock %}

{% block nav %}
        <ul class="nav navbar-nav">
          <li class="{% block nav_requests %}{% endblock %}">
            <a href="{% url 'foirequest-list' %}">
              {% blocktrans %}Requests{% endblocktrans %}
            </a>
          </li>
          <li class="{% block nav_publicbodies %}{% endblock %}">
            <a href="{% url 'publicbody-list' %}">
              {% blocktrans %}Public Agencies{% endblocktrans %}
            </a>
         </li>
          <li class="special-nav-item {% block nav_makerequest %}{% endblock %}">
            <a href="{% url 'foirequest-make_request' %}">
              <span>{% blocktrans %}Make a Request!{% endblocktrans %}</span>
            </a>
          </li>
        </ul>
{% endblock %}

{% block footer_menu %}
<li>
  <a href="{% url 'help-about' %}">{% trans "About" %}</a>
</li>
<li>
  <a href="{% url 'help-faq' %}">{% trans "FAQ" %}</a>
</li>
<li>
  <a href="{% url 'help-terms' %}">{% trans "Terms of Use" %}</a>
</li>
<li>
  <a href="{% url 'help-privacy' %}">{% trans "Privacy Statement" %}</a>
</li>
{% endblock %}
