{% extends "base.html" %}

{% load i18n %}
{% load static from staticfiles %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/uipa-style.css" %}"/>
    <script src="{% static "js/cheet.min.js" %}"></script>
    <script type="text/javascript">
        cheet('↑ ↑ ↓ ↓ ← → ← → b a', function () {
            $('#easter-egg-modal').modal('show');
        });
    </script>
{% endblock %}

{% block nav %}
        <ul class="nav navbar-nav">
          <li class="{% block nav_requests %}{% endblock %}">
            <a href="{% url 'foirequest-list' %}">
              {% blocktrans %}Requests{% endblocktrans %}
            </a>
          </li>
          <li class="{% block nav_publicbodies %}{% endblock %}">
            <a href="{% url 'publicbody-list' %}">
              {% blocktrans %}Public Agencies{% endblocktrans %}
            </a>
         </li>
          <li class="special-nav-item {% block nav_makerequest %}{% endblock %}">
            <a href="{% url 'foirequest-make_request' %}">
              <span>{% blocktrans %}Make a Request!{% endblocktrans %}</span>
            </a>
          </li>
        </ul>
{% endblock %}

{% block language_select %}{% endblock language_select %}

{% block footer_credits %}
<div class="row">
  <div class="col-lg-9">
    {% block footer_description %}
    <p>
      {% blocktrans %}Froide is a free and Open Source Project by <a href="http://www.okfn.org">the Open Knowledge Foundation</a>. If you want to support Froide, please visit the <a href="https://github.com/stefanw/froide">repository on GitHub</a>.{% endblocktrans %}
    </p>
    <p>
        <a href="http://codeforhawaii.org">Code for Hawaii</a> is a Code for America Brigade. If you want to support Code for Hawaii, please <a href="http://donate.codeforhawaii.org">donate</a> today!
    </p>
    {% endblock %}
  </div>
  <div class="col-lg-3">
    <a href="http://www.okfn.de">
      <img src="{% static "img/okf.png" %}" />
    </a>
    &nbsp;
    <a href="https://codeforhawaii.org">
      <img src="{% static "img/codeforhawaii.png" %}" height="33"/>
    </a>
  </div>
</div>
<hr/>

<div class="modal fade" id="easter-egg-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Mahalo to all our volunteers!</h4> 
            </div>
            <div class="modal-body">
                <h4>Special thanks to the Core Team:</h4>
                <p>Brian Black, <a href="https://twitter.com/ryankanno">Ryan Kanno</a>, and Russ Tokuyama</p>

                <img src="{% static 'img/team-with-bblack.jpg' %}" width="100%" />
                From left: Russ, Brian, Ryan, and George at <a href="https://blog.codeforhawaii.org/2016/06/10/national-day-civic-hacking-recap/">National Day of Civic Hacking</a>

                <hr/>

                <h4>Special thanks to the following:</h4>
                <p>Ian Lind, Sara Sakamoto, George Lee, Stephan Fitzpatrick, and McKay Davis</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock footer_credits %}

{% block footer_menu %}
<li>
  <a href="{% url 'help-about' %}">{% trans "About" %}</a>
</li>
<li>
  <a href="{% url 'help-faq' %}">{% trans "FAQ" %}</a>
</li>
<li>
  <a href="{% url 'help-terms' %}">{% trans "Terms of Use" %}</a>
</li>
<li>
  <a href="{% url 'help-privacy' %}">{% trans "Privacy Statement" %}</a>
</li>
{% endblock %}
